h1 {
    text-align: center;
}

#calc-body {
    width: 400px;
    height: auto;
    border:1px solid black;
    border-radius: 4px;
    margin: auto;
    max-height: 650px;
    max-width: 400px;
    box-shadow: rgba(0,0,0,1) 0px 3px 8px;
}

#result-bar {
    width:100%;
    height: auto;
    background: black;
}

#previous-result {
    background-color: black;
    color: white;
    font: 15px 'Roboto Mono', monospace;
    border-radius: 5px;
    width: 100%;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#previous-result > p {
    padding: 0px 10px 0px 10px;
}

#current-result {
    background-color: black;
    color: white;
    font: 20px 'Roboto Mono', monospace;
    border-radius: 5px;
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#current-result > p {
    padding: 0px 10px 0px 10px;
}

#keypad {
    background: black;
    width:100%;
    height:auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    grid-auto-rows: 70px;
}

#keypad > button {
    grid-row:span 1;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 24px;
}

#keypad > button:hover {
    background: rgb(206, 204, 204)
}

.fill-space {
    grid-column: span 2;
}

.operand {
    background: orange;
    border: 1px solid black;
}

.operand:hover {
    background-color: rgb(223, 147, 7) !important;
}

.clear {
    background-color: darkgray;
}

.clear:hover {
    background-color: rgb(128, 126, 126) !important;
}